.clear {
    clear: both;
}
section {
     padding: 60px 30px;
}

h2 {
    text-align: center;
    font-weight:400;
    padding: 40px;
    
    span{
    color: limegreen;
    font-weight: 400;
    }
}