#portfolio {
    
    .col-xs-12 {
       padding: 0px; 
        }
    .porfolio-item {
        height: 350px;
        background-size: cover;
        background-position: center;
        }
    
    #image_1{
        background-image: url('../img/portfolio1.jpg');
        height: 350px;
    }
    #image_2{
        background-image: url('../img/portfolio2.jpg');
        height: 350px;
    }
     #image_3 {
                background-image: url('../img/portfolio4.jpg');
                 height: 350px;
            }
        }







