#skills {
    figure{
        display: inline-block;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        
        figcaption{
            text-transform: uppercase;
        }
    }
}